.about-title{
    margin: 20px;
    margin-left: 65px;
    font-size: 36px;
}


.about-content{
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
}

.about-standard-text{
    margin-left: 22px;
    margin-right: 50px;
}

.about-standard-title{
    margin-left: 20px;
    margin-right: 540px;
}


.about-profile-image{
    position: absolute;
    left: 880px;
    top:210px;
    margin: 45px;
    width: 500px;

    & img{
        border-radius: 30px;
    }
    
}

.right-animation{
    animation: fadeIn 2s, moveInRight 1s ;
}


  @keyframes moveInRight {
    0%{transform: translateX(200px);}
    100%{transform: translateX(0)}
  }