.about-title{
    // margin: 20px;
    margin-left: 85px;
    margin-top: 65px;
    margin-right: 1500px;
    font-size: 36px;
    font-family: 'Nova Round', cursive;
    transition-duration: 550ms;
    transition-property: color;
}

.about-title:hover{
    color: #00C6AB;
}

.contact-title{
    // margin: 20px;
    margin-left: 0px;
    margin-right: 5px;
    width: 150px;
    font-size: 36px;
    font-family: 'Nova Round', cursive;
    transition-duration: 550ms;
    transition-property: color;
}

.contact-title:hover{
    color: #00C6AB;
}

.about-content{
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
    margin-left: 50px;
    // width: 80%;
}

// .about-text-container{
//     // width:180%;

// }

// .about-standard-text{
//     // margin-left: 22px;
//     // margin-right: 50px;
// }

.about-standard-title{
    margin-left: 40px;
    margin-right: 40px;

    & h3 {
        font-family:  'Nova Round', cursive;
    }
}


.about-profile-image{
    // position: absolute;
    // left: 880px;
    // top:210px;
    margin: 45px;
    margin-right: 150px;
    width: 40%;

    & img{
        border-radius: 30px;
        width: 400px;
    }
    
}

.right-animation{
    animation: fadeIn 2s, moveInRight 1s ;
}


  @keyframes moveInRight {
    0%{transform: translateX(200px);}
    100%{transform: translateX(0)}
  }

//   @media screen and (max-width:1600px) {
//     .about-profile-image{
//         left:200px;
//         width: 200px;
//     }
// }

 @media screen and (max-width:1300px) {

    .about-standard-title{
        margin-right: 60px;
    }
 }

  @media screen and (max-width:800px) {

    .about-title{
        // margin: 20px;
        margin-left: 60px;
        font-size: 36px;
        
    }

    .about-standard-title{
        font-size: 20px;
        margin-right: 20px;
    }


    .about-standard-text{
        margin-left: 30px;
        margin-right: 30px;
        font-size: 14px;
    }

    .about-profile-image{
        display: none;
    }

    
}
  
  @media screen and (max-width:400px) {

    .about-title{
        // margin: 20px;
        margin-left: 60px;
        margin-right: 10px;
        font-size: 24px;
        
    }

    .about-standard-title{
        font-size: 16px;
        margin-right: 20px;
    }


    .about-standard-text{
        margin-left: 10px;
        margin-right: 10px;
        font-size: 13px;
    }

    .about-profile-image{
        display: none;
    }

    
}