.blog-title{
    margin: 20px;
    margin-left: 65px;
    font-size: 36px;
}

.blog-posts-container{
    margin: 0px 85px;
    // margin-right: 85px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
}

.blog-posts{
    background-color: rgb(110, 156, 169);
    border-radius: 5px;
    padding: 80px;
    display: flex;
    flex-direction: column;
    width: 120px;
}

.blog-posts-text{
    margin-left: 15px;
}

.blog-new{
    text-align: end;
    margin-right: 50px;
}

.add-blog-form-container{
    display: flex;
    flex-direction: column;
    margin: 0px 150px;

    
}

.add-blog-form-direction{
    display: flex;
    flex-direction: column;
}

.add-blog-form{
    margin: 10px;
}

.add-blog-input-post{
    padding: 100px;
}

.blog-single-container{
    margin: 0px 70px;
}

.blog-single-text{
    margin: 0px 15px;
}