.blog-title{
    margin: 20px;
    margin-left: 65px;
    margin-right: 1500px;
    font-size: 36px;
    font-family: 'Nova Round', cursive;
    transition-duration: 550ms;
    transition-property: color;
}

.blog-title:hover{
    color:#00C6AB;
}

.blog-posts-container{
    margin: 0px 85px;
    // margin-right: 85px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
}

.blog-posts{
    background-color: #2d9cbd;
    border-radius: 5px;
    padding: 80px;
    display: flex;
    flex-direction: column;
    width: 120px;
    
}

.blog-intro{
    margin: 0px 80px;
}

.blog-posts:hover{
    background-color: #00AE95;
}

.blog-posts-text{
    margin-left: 15px;
}

.blog-new{
    display: flex;
    justify-content: space-between;
    // text-align: center;
    margin: 0px 80px;
    gap: 40px;
}

.blog-login{
    text-align: end;
    margin-right: 80px;
}

.add-blog-form-container{
    display: flex;
    flex-direction: column;
    margin: 0px 150px;

    
}

.add-blog-form-direction{
    display: flex;
    flex-direction: column;
}

.add-blog-form{
    margin: 10px;
}

.add-blog-input-post{
    padding: 100px;
}

.blog-single-container{
    margin: 0px 70px;
}

.blog-single-text{
    margin: 0px 15px;
}

.blog-single-tab-title{
    font-family:  'Nova Round', cursive;
}

.blog-button{
    color:white;
    background-color: #00C6AB;
    border-radius: 5px;
}