@import "./scrollerMenu.scss";
@import "./landingPage.scss";
@import "./scrollbars.scss";
@import "./nav.scss";
@import "./landingPage.scss";
@import "./about.scss";
@import "./portfolio.scss";
@import "./blog.scss";
@import "./login.scss";


// @import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Cinzel:wght@600&family=Khand&family=Michroma&family=Quicksand:wght@400;500&family=Righteous&family=Roboto+Condensed&family=Rokkitt&family=Saira+Semi+Condensed&family=Stick+No+Bills&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Cinzel+Decorative&family=Cinzel:wght@600&family=Khand&family=Michroma&family=Quicksand:wght@400;500&family=Righteous&family=Roboto+Condensed&family=Rokkitt&family=Saira+Semi+Condensed&family=Stick+No+Bills&display=swap');

body {
  top: 0;
  left: 0;
  margin: 0;
  // font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  font: 14px 'Quicksand', sans-serif;
  background-color: #354A54;
  color: white;
  margin-bottom: 60px;

  & p{
    // padding: 10px;
    color:white;
  }

  // & h3 {
  //  
  // }

  & a {
    text-decoration: none;
    color: white
    
  }
}

.grow { 
  transition: all .3s ease-in-out; 
  }
  
  .grow:hover { 
  transform: scale(1.02); 
  }

.links{
  transition-duration: 550ms;
  transition-property: color;
  color:#83F9BE;
}

.links:hover{
  color: #EB9B6C;
}

.load-animation{
  animation: fadeIn 2s, moveInLeft 1s ;
}

@keyframes fadeIn {
  0%{opacity: 0;}
  100%{opacity: 1;}
}

@keyframes moveInLeft {
  0%{transform: translateX(-100px);}
  100%{transform: translateX(0)}
}

.picture-content{
  margin-left: 70px;
}

.picture-title{
  margin: 20px;
  margin-left: 65px;
  font-size: 48px;
}