.header{
    // font-size: 48px;
    margin-top: 50px;
    margin-left: 70px;
    animation: fadeIn 2s, moveInLeft 1s ;
    // text-align: center;
    & h1{
        font-size: 48px;
    }
}

.intro-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    // text-align: center;
    margin: 0px 90px;
    margin-right: 450px;
    animation: fadeIn 2s, moveInLeft 1s ;
    // width: 300px;
   
}



@keyframes fadeIn {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@keyframes moveInLeft {
    0%{transform: translateX(-100px);}
    100%{transform: translateX(0)}
}