.header{
    // font-size: 48px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 70px;
    margin-bottom: 0px;
    animation: fadeIn 2s, moveInLeft 1s ;
    // text-align: center;
    & h1{
        font-size: 60px;
        transition-duration: 550ms;
        transition-property: color;
        font-family: 'Nova Round', cursive;
    }

    & h1:hover{
        color: #00C6AB;
    }
}

.header-title{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}



.intro-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    // text-align: center;
    margin: 0px 90px;
    margin-right: 450px;
    animation: fadeIn 2s, moveInLeft 1s ;
    // width: 300px;
   & h2{
    font-size: 26px;
    font-family:  'Nova Round', cursive;
   }
}

.skills-title{
    font-family:  'Nova Round', cursive;
}

.artskills-margin{
    margin-bottom: 40px;
}

// .home-logo{
//     width: 160px;
//     margin-right: 160px;
//     animation: fadeIn 2s, moveInRight 1s ;
// }

.icon{
    padding: 15px;
    background-color: #37819F;
    border-radius: 50%;
    margin-right: 180px;
    font-size: 60px;
    font-family:  'Nova Round', cursive;
    box-shadow: 18px 15px 0px 0px #00C6AB, -21px 15px 0px 0px #EB9B6C, -21px -25px 0px 0px #00C6AB, 18px -25px 0px 0px #EB9B6C;
    transition-duration: 550ms;
    transition-property: box-shadow;
    animation: moveShadow 2s infinite ease-in-out;
    // animation: fadeIn 2s;
}

// .icon:hover{
    
//     // animation-delay: 1s;
    
// }

.grow-icon { 
    transition: all .3s ease-in-out; 
    // transform: scale(1.4); 
    }
    
    .grow-icon:hover { 
    transform: scale(1.2); 
    }

.intro-skillsets{
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.progress-line{
    position: relative;
    height: 5px;
    width: 100%;
    background: #f0f0f0;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.05) ;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: skillbar 1s cubic-bezier(1,0,0.5,1) forwards;

}

@keyframes skillbar {
    100%{
        transform: scaleX(1);
    }
    
}

.progress-line span{

    height:100%;
    width:90%;
    background:#00C6AB;
    position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: skillbar 1s 1s cubic-bezier(1,0,0.5,1) forwards;
   
}

.progress-line.html span{
    width: 90%;
}

.progress-line.css span{
    width: 80%;
}

.progress-line.js span{
    width: 45%;
}

.progress-line.react span{
    width: 60%;
}

.progress-line.sass span{
    width: 70%;
}

.progress-line.git span{
    width: 75%;
}

.progress-line.node span{
    width: 45%;
}

.progress-line.mod span{
    width: 85%;
}

.progress-line.ani span{
    width: 70%;
}

.progress-line.tex span{
    width: 55%;
}

.progress-line.video span{
    width: 65%;
}

.progress-line.draw span{
    width: 45%;
}

.progress-line.paint span{
    width: 55%;
}

.progress-line span::before{
    position: absolute;
    content: "";
    height: 0;
    width: 0;
    right: 0;
    top: -10px;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #EB9B6C;
    opacity: 0;
    animation: text 1s linear forwards;
}

.progress-line span::after{
    position: absolute;
    right: 0;
    top: -22px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    background: #EB9B6C;
    padding: 1px 8px;
    border-radius: 3px;
    opacity: 0;
    animation: text 1s linear forwards;
}

@keyframes text {
    100%{
        opacity: 1;
    }    
}

.progress-line.html span::after{
    content: "90%";
}

.progress-line.css span::after{
    content: "80%";
}

.progress-line.js span::after{
    content: "45%";
}

.progress-line.react span::after{
    content: "60%";
}

.progress-line.sass span::after{
    content: "70%";
}

.progress-line.git span::after{
    content: "75%";
}

.progress-line.node span::after{
    content: "45%";
}

.progress-line.mod span::after{
    content: "85%";
}

.progress-line.ani span::after{
    content: "70%";
}

.progress-line.tex span::after{
    content: "55%";
}

.progress-line.video span::after{
    content: "65%";
}

.progress-line.draw span::after{
    content: "45%";
}

.progress-line.paint span::after{
    content: "55%";
}

.contact-links{
    display: flex;
    // text-decoration: none;
    list-style-type: none;
    gap:80px;
    flex-direction: row;
    margin-top: 30px;
}

@keyframes fadeIn {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@keyframes moveInLeft {
    0%{transform: translateX(-100px);}
    100%{transform: translateX(0)}
}

@keyframes moveInRight {
    0%{transform: translateX(200px);}
    100%{transform: translateX(0)}
  }



  @keyframes moveShadow{
    0%{box-shadow: 18px 15px 0px 0px #00C6AB, -21px 15px 0px 0px #EB9B6C, -21px -25px 0px 0px #00C6AB, 18px -25px 0px 0px #EB9B6C}
    25%{box-shadow: -21px 15px 0px 0px #00C6AB, -21px -25px 0px 0px #EB9B6C, 18px -25px 0px 0px #00C6AB, 18px 15px 0px 0px #EB9B6C;}
    50%{box-shadow: -21px -25px 0px 0px #00C6AB, 18px -25px 0px 0px #EB9B6C, 18px 15px 0px 0px #00C6AB, -21px 15px 0px 0px #EB9B6C;}
    75%{box-shadow: 18px -25px 0px 0px #00C6AB, 18px 15px 0px 0px #EB9B6C, -21px 15px 0px 0px #00C6AB, -21px -25px 0px 0px #EB9B6C;}
    100%{box-shadow: 18px 15px 0px 0px #00C6AB, -21px 15px 0px 0px #EB9B6C, -21px -25px 0px 0px #00C6AB, 18px -25px 0px 0px #EB9B6C}

  }

  @media screen and (max-width:800px) {

    .icon{
        margin-right: 100px;
    }

    .header{
        margin-left: 40px;
        & h1{
            font-size: 60px;

        }
    }

    .intro-text{

        margin: 0px 40px;
        // margin-right: 0px;
        font-size: 14px;

        & h2{
            font-size: 20px;
        }
    }

    .intro-skillsets{
        // flex-direction: column;
        gap:15px;
    }
}
  
  @media screen and (max-width:400px) {

    .icon{
        display: none;
    }

    .header{
        margin-left: 40px;
        & h1{
            font-size: 50px;

        }
    }

    .intro-text{

        margin: 0px 40px;
        // margin-right: 0px;
        font-size: 13px;

        & h2{
            font-size: 16px;
        }
    }

    .intro-skillsets{
        flex-direction: column;
        gap:20px;
    }
}