
.navbar{
    display: flex;
    align-content: center;
    justify-content: flex-start;
    gap: 25px;
    font-size: 24px;
    padding: 20px 90px;
    background-color: rgb(149, 181, 194);
    opacity: 75%;
    transition: opacity .2s ease-in-out;
    animation: topToBottom 1s;
  
    & a {
      text-decoration: none;
      color: black
    }
  
    & a:hover{
      color:rgb(250, 168, 60);
    }
  }

  @keyframes topToBottom{
    0%{transform: translateY(-100px);}
    100%{transform: translateY(0)}
  }

  .navbar:hover{
    opacity: 100%;
    transition: opacity .2s ease-in-out;
  }
  
 
  
  .navbar-icons{
    display: flex;
    align-content: center;
    justify-content: flex-end;
    gap: 10px;
    margin-left: 510px;
  }
  
  .icons{
    width: 30px;
  }

  .grow-icon { 
    transition: all .3s ease-in-out; 
    }
    
    .grow-icon:hover { 
    transform: scale(1.5); 
    }