.portfolio-content{
    margin: 15px;
    margin-left: 50px;
}

.portfolio-title{
    // margin: 20px;
    margin-left: 20px;
    font-size: 36px;
    margin-right: 1500px;
    font-family: 'Nova Round', cursive;
}

.portfolio-title-color{
    transition-duration: 550ms;
    transition-property: color;
}

.portfolio-title-color:hover{
    color: #00C6AB;
}

.portfolio-standard-header{
    margin-left: 20px;
    font-family:  'Nova Round', cursive;
}

.portfolio-standard-text{
    margin-left: 40px;
    margin-right: 420px;
}

.web-project-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: 40px;
    flex-wrap: wrap;

}

.web-projects{
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    background-color: #2d9cbd;
    border-radius: 5px;
    width: 200px;
    height: 250px;
    padding: 10px 15px;
    padding-bottom: 70px;
    margin-bottom: 20px;

    & img{
        width: 200px;
        border-radius: 5px;
    }
}

.web-projects:hover{
    background-color: #00AE95;
}


.art-project-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: 40px;
    flex-wrap: wrap;

}

.art-projects{
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    background-color: #2d9cbd;
    border-radius: 5px;
    width: 200px;
    height: 250px;
    padding: 10px 15px;

    & img{
        width: 200px;
        border-radius: 5px;
    }
}

.art-projects:hover{
    background-color: #00AE95;
}

.project-title{
    font-family:  'Nova Round', cursive;
    text-align: center;
}



@media screen and (max-width:800px) {

    .portfolio-title{
        // margin: 20px;
        margin-left: 10px;
        font-size: 36px;
        
    }

    .portfolio-standard-header{
        font-size: 20px;
    }

    // .web-project-container{
    //     // flex-direction: column;
    // }

    // .art-project-container{
    //     // flex-direction: column;
    // }

    .portfolio-standard-text{
        margin-left: 20px;
        margin-right: 20px;
        font-size: 14px;
    }
}

@media screen and (max-width:400px) {

    .portfolio-title{
        // margin: 20px;
        margin-left: 10px;
        font-size: 24px;
        
    }

    .portfolio-standard-header{
        font-size: 16px;
    }

    .web-project-container{
        flex-direction: column;
    }

    .art-project-container{
        flex-direction: column;
    }

    .portfolio-standard-text{
        margin-left: 20px;
        margin-right: 20px;
        font-size: 13px;
    }
}
