.portfolio-content{
    margin: 15px;
    margin-left: 50px;
}

.portfolio-title{
    // margin: 20px;
    margin-left: 20px;
    font-size: 36px;
    margin-right: 1500px;
    font-family: 'Cinzel Decorative', cursive;
}

.portfolio-title-color{
    transition-duration: 550ms;
    transition-property: color;
}

.portfolio-title-color:hover{
    color: #00C6AB;
}

.portfolio-standard-header{
    margin-left: 20px;
}

.portfolio-standard-text{
    margin-left: 40px;
    margin-right: 420px;
}

.web-project-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: 40px;

}

.web-projects{
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    background-color: #2d9cbd;
    border-radius: 20px;
    width: 200px;
    height: 250px;
    padding: 15px 15px;

    & img{
        width: 200px;
        border-radius: 5px;
    }
}

.web-projects:hover{
    background-color: #00AE95;
}


.art-project-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: 40px;

}

.art-projects{
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    background-color: #2d9cbd;
    border-radius: 20px;
    width: 200px;
    height: 250px;
    padding: 10px 15px;

    & img{
        width: 200px;
        border-radius: 5px;
    }
}

.art-projects:hover{
    background-color: #00AE95;
}
