
.scroller-container{
    display: grid;
    gap: 8px;
    grid-auto-flow: column;
    grid-auto-columns: 32%;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    margin: 20px 70px;
    animation: fadeIn 2s, moveInLeft 1s ;
  }

  @keyframes fadeIn {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@keyframes moveInLeft {
    0%{transform: translateX(-100px);}
    100%{transform: translateX(0)}
}
  
.scroller-text{
  padding: 10px;
  text-align: center;
  font-size: 28px;
  color:white;
  transition-duration: 550ms;
  transition-property: color;

}
.scroller-text:hover{
  color: #EB7E3F;
}
  .scroller-item-1{
    
    padding: 130px 140px;
    margin: 5px;
    border-radius: 5px;
    background-color: #2d9cbd;
    background-size: cover;
    background-repeat: no-repeat;
    transition-duration: 750ms;
    transition-property: background-color;
  
  }
  
  .scroller-item-2{
    
    padding: 130px 100px;
    border-radius: 5px;
    background-color: #2d9cbd;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 5px;
    transition-duration: 850ms;
    transition-property: background-color;
 
    
  }
  
 
  .scroller-item-5{
    
    padding: 130px 100px;
    border-radius: 5px;
    background-color: #2d9cbd;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 5px;
    transition-duration: 550ms;
    transition-property: background-color;
   
  }
  
  
  .snap{
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 10px;
  }
  
  .snap > * {
    scroll-snap-align: start;
  }

  .scroller-item-1:hover{
    background-color: #00AE95;
    
  }

  .scroller-item-2:hover{
    background-color: #00AE95;
  }

  .scroller-item-5:hover{
    background-color: #00AE95;
    
  }

  



// .button-prev{
//   position: absolute;
//   background: none;
//   border: none;
//   font-size: 30px;
//   top: 60%;
//   cursor: pointer;
//   background-color: rgb(0, 0, 0, .1);
//   margin-left: 8px;

// }

// .button-next{
//   position: absolute;
//   background: none;
//   border: none;
//   font-size: 30px;
//   top: 60%;
//   cursor: pointer;
//   right: 0.8rem;
// }

// .button-next:hover,
// .button-prev:hover{
//   background-color: rgb(0, 0, 0, .2)
// }

// .button-next:focus,
// .button-prev:focus{
//   outline: 1px solid black;
// }
 
