//Scrollbar

::-webkit-scrollbar{
    width: 12px;
    height: 10px;
  }
  
  ::-webkit-scrollbar-track{
    background: rgb(91, 92, 96);
    border-radius: 50px;
    margin-block: -.5em;
  }
  
  ::-webkit-scrollbar-thumb{
    background: rgb(195, 194, 194);
    border-radius: 50px;
  }
  
  ::-webkit-scrollbar-thumb:hover{
    background: #EB9B6C;
  }